<div class="home-container">
  <div class="hero-section">
    <h1>OkDates</h1>
    <p>Find the perfect date that works for everyone - use natural language, instead of clicking buttons
      and selecting dates</p>
    <p>OkDates is a free tool, that doesn't require any registration and is completely anonymous</p>

    <div class="action-container">
      <div class="action-buttons">
        <div class="action-button-container">
          <button
            mat-raised-button
            color="primary"
            (click)="createNewEvent(false)">
            Create New Event
          </button>
        <p class="button-description">Plan a casual event with just dates</p>  
        </div>

        <div class="action-button-container">
          <button
            mat-raised-button
            color="accent"
            (click)="createNewEvent(true)">
            Create New Meeting
          </button>
          <p class="button-description">Schedule a specific meeting time</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="features-section">
    <h2>How it works</h2>
    
    <div class="feature-cards">
      <div class="feature-card">
        <div class="feature-icon">1</div>
        <h3>Create an event or a meeting</h3>
        <p>Generate a unique shareable link for your event and store the administrator link securely</p>
      </div>
      
      <div class="feature-card">
        <div class="feature-icon">2</div>
        <h3>Share with friends</h3>
        <p>Send the link to all participants or add them yourself one by one</p>
      </div>
      
      <div class="feature-card">
        <div class="feature-icon">3</div>
        <h3>Collect availability</h3>
        <p>Everyone enters their available dates in free text or you do it for them</p>
      </div>
      
      <div class="feature-card">
        <div class="feature-icon">4</div>
        <h3>Find the best date</h3>
        <p>Agree on the best availability for everyone, download the ical calendar invite (need Administrator link) and send to everyone</p>
      </div>
    </div>
  </div>
</div>